.add_news {
  form {
    .btns_container {
      display: flex;
      justify-content: end;
      align-items: flex-end;
      button {
        width: 180px;
        background-color: #4d44b5;
      }
    }
  }

  :global {
    .ant-row {
      display: block;
      .ant-col {
        text-align: left;
        label {
          font-size: 14px;
          color: #4d44b5;
          font-weight: 600;
          margin-bottom: 5px;
        }
      }
    }
  }
}
