.faculty {
  :global {
    .ant-tabs {
      .ant-tabs-nav {
        .ant-tabs-nav-wrap {
          justify-content: end !important;
        }
        .ant-tabs-nav-list {
          .ant-tabs-tab {
            background-color: rgba(77, 68, 181, 1);
            color: rgba(255, 255, 255, 0.5);
            font-weight: bold;
          }
          .ant-tabs-tab-active {
            .ant-tabs-tab-btn {
              color: rgba(255, 255, 255, 1);
            }
          }
        }
      }
    }
    .ant-form-item {
      .ant-row {
        display: block;
        .ant-form-item-explain-error {
          font-family: "Azeret Mono" monospace;
          font-size: 18px;
        }
        .ant-col {
          text-align: left;
          label {
            font-size: 20px;
            margin-bottom: 10px;
            &::before {
              content: "";
            }
          }
          input,
          span,
          .ant-form-item-control-input,
          .ant-form-item-control-input-content {
            height: 100%;
          }
        }
      }
    }
  }
}
