@import "../../App.scss";
.users {
  padding: 20px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    .input {
      width: 260px;
      height: 45px;
      padding: 0 10px;
      border-radius: 30px;
      svg {
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }
    }
    .header_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      :global {
        .ant-select-selector {
          border-radius: 30px;
          color: #4d44b5;
          border-color: #4d44b5;
          padding: 4px 20px;
        }
      }
      .add {
        margin-left: 20px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #4d44b5;
        border-radius: 30px;
        padding: 1px 10px;
        border: none;
        color: white;
        font-size: 22px;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  main {
    .cards_container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 50px;
      .card {
        position: relative;
        width: 200px;
        height: 250px;
        padding: 20px;
        box-shadow: 0px 0px 5px grey;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px 0;
        text-align: center;
        .avatar {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          background-color: #c1bbeb;
        }
        a {
          color: #303972;
          font-size: 18px;
        }
        span {
          display: block;
          color: #a098ae;
          font-size: 13px;
        }
        .btns_container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0 10px;
          button {
            background-color: #303972;
            border-radius: 50%;
            border: none;
            padding: 6px;
            cursor: pointer;
            svg {
              color: white;
              width: 15px;
              height: 15px;
            }
          }
        }
        .more {
          cursor: pointer;
          position: absolute;
          top: 10px;
          right: 10px;
          svg {
            width: 22px;
            height: 20px;
          }
        }
      }
    }
  }
}
