.faculty {
  padding: 40px;
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
  p {
    font-size: 32px;
    line-height: 37px;
  }
}

.faculties {
  color: black;
  .faculties_container {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
    .card {
      width: 510px;
      height: 200px;
      border-radius: 10px;
      border: 1px solid black;
      padding: 20px;
      position: relative;
      color: black;
      text-decoration: none;
      font-size: 40px;
      font-weight: 500;
      line-height: 46px;
      img {
        color: black;
        width: 37px;
        height: 37px;
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
  }
}
